span {
    color: aqua;
}

.asep {
    color: aqua;
}

.barcelona {
    color: aqua;
}

.kere {
    color: aqua;
}

.manis {
    color: aqua;
}

.teh {
    color: lightgrey;
}

.mata {
    color: lightgrey;
}